/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */



canvas{
  display:inherit;
  vertical-align:inherit;
  overflow:hidden;
}


/* ---- stats.js ---- */


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #E1E1E1;
  background-image: url('');
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  
}
/*@media only screen and (max-width: 1026px) {
    #particles-js {
        display: none;
    }
}*/
@media only screen and (max-width:400px) {
   #particles-js{
  width: 100%;
  height: 100%;
  background-color: #E1E1E1;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
     
}
}
